<mat-toolbar color="primary">
  <span>{{ "POSTS" | translate }}</span>
  <span class="spacer"></span>

  <button mat-icon-button (click)="openFormDialog()">
    <mat-icon>add</mat-icon>
  </button>

  <mat-icon matBadge="15" matBadgeColor="warn" class="me-3 ms-3">
    favorite
  </mat-icon>
  <button mat-icon-button (click)="toggleTheme()">
    <mat-icon>{{ theme === "dark" ? "light" : "dark" }}_mode</mat-icon>
  </button>
  <button mat-icon-button (click)="toggleLang()">
    <mat-icon>translate</mat-icon>
  </button>
</mat-toolbar>

<div class="container">
  <div *ngIf="posts.length; else noPosts">
    <app-post
      @addRemove
      *ngFor="let post of posts"
      [post]="post"
      [addedToFavorite]="addedToFavorite(post._id)"
      (editPost)="openFormDialog()"
      (deletePost)="deletePost($event)"
    ></app-post>
  </div>

  <ng-template #noPosts>
    <h2 class="no-posts">{{ "NO_POSTS" | translate }}</h2>
  </ng-template>
</div>
