<mat-card style="margin-bottom: 1rem">
  <mat-card-header>
    <mat-card-title> This the first post </mat-card-title>
    <mat-card-subtitle>
      #programing #angular #javascript #anything
    </mat-card-subtitle>
  </mat-card-header>
  <img
    mat-card-image
    src="https://material.angular.io/assets/img/examples/shiba2.jpg"
    alt="Photo of a Shiba Inu"
  />
  <mat-card-content>
    <p>
      The Shiba Inu is the smallest of the six original and distinct spitz
      breeds of dog from Japan. A small, agile dog that copes very well with
      mountainous terrain, the Shiba Inu was originally bred for hunting.
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-icon-button (click)="addedToFavorite = !addedToFavorite">
      <mat-icon color="warn"
        >favorite_{{ addedToFavorite ? "" : "border" }}</mat-icon
      >
    </button>
    <span class="spacer"></span>
    <button mat-icon-button (click)="confirmDelete()">
      <mat-icon color="warn">delete</mat-icon>
    </button>
    <button mat-icon-button (click)="openFormDialog()">
      <mat-icon color="primary">edit</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>
