<mat-card style="margin-bottom: 1rem">
  <mat-card-header>
    <mat-card-title>{{ post.title }}</mat-card-title>
    <mat-card-subtitle>
      <span *ngFor="let tag of post.tags">#{{ tag }} </span>
    </mat-card-subtitle>
    <mat-card-subtitle>
      Created at {{ post.createdAt | date : "medium" }}
    </mat-card-subtitle>
  </mat-card-header>
  <img
    mat-card-image
    [src]="post.postImg"
    [alt]="post.postImg"
    (error)="handleMissingImage($event)"
  />
  <mat-card-content>
    <p>
      {{ post.description }}
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-icon-button (click)="addedToFavorite = !addedToFavorite">
      <mat-icon color="warn"
        >favorite_{{ addedToFavorite ? "" : "border" }}</mat-icon
      >
    </button>
    <span class="spacer"></span>
    <button mat-icon-button (click)="confirmDelete()">
      <mat-icon color="warn">delete</mat-icon>
    </button>
    <button mat-icon-button (click)="openFormDialog()">
      <mat-icon color="primary">edit</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>
