// @import "@angular/material/prebuilt-themes/indigo-pink.css";
@import "./themes.scss";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

[dir="rtl"] * {
  direction: rtl;
}

.spacer {
  flex: 1 1 auto;
}

.me-2 {
  margin-inline-end: 0.7rem !important;
}

.ms-2 {
  margin-inline-start: 0.7rem !important;
}
.me-3 {
  margin-inline-end: 1rem !important;
}
.ms-3 {
  margin-inline-start: 1rem !important;
}
